# Database
DATABASE_URL=sqlite:///./jacast.db

# Security
SECRET_KEY=your-secret-key
ALGORITHM=HS256

# Token Expirations
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
TEMP_2FA_TOKEN_EXPIRE_MINUTES=5

